* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size:  50px;
}

.all {
    background-color: #252525;
    color:aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botao1 {
    background-color: transparent;
    border: none;
    color: red;
}
#botao2 {
    background-color: transparent;
    border: none;
    color: green;
}